#result1{
  display: none;
}
#result2{
  display: none;
}
#result3{
  display: none;
}
#result4{
  display: none;
}
#missed{
  display: none;
}
#result10{
  display: none;
}
#result12{
  display: none;
}
#result14{
  display: none;
}

.jumbotron{
  text-align: center;
  background-color: #edeae5;
  color: #2f3d4c;
}

body{
  background-color: #ced9dd;
}

.btn{
  background-color: #2f3d4c;
  color: white;
}

h3{
  color: #2f3d4c;
}